body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  /* --color1: #D3E7F0;
  --color2: #7097AB;
  --color3: #4f6d7a; */
  --color1: #d3e7f0;
  --color2: #212121;
  --color3: #4f6d7a;

  --color4: #e2e2e2;
  --color5: #b3b3b3;
}
